*.sh
*.bat
*.txt
*.wav
*.zip
*.spec
# Limitation of git, only include the lib directory and a few other files in generator
generators/*
!generators/combine_partials.py
!generators/combine.py
!generators/start.sh
!generators/types/
generators/types/*
!generators/types/lib/

installers
scripts

dist
build

data
config.json
time.json

__pycache__

initial_config.bin

config/*.json
config/clients/*
