*.sh
*.bat
*.txt
*.wav
*.zip
*.spec
generators/*

installers
scripts

dist
build

data
config.json
!daemon/config.json
time.json
state.json
client-daemon.lock

__pycache__

initial_config.bin

config/*.json
config/clients/*

node_modules
out
desktop-gui/tools
