[Unit]
Description=Athena API Daemon
Requires=network.target
After=network.target

[Service]
User=friedmicro
WorkingDirectory=/opt/athena
ExecStart=/opt/athena/athena-api/athena-api
Type=simple

[Install]
WantedBy=multi-user.target
